<html>
  <body>
    <div class="bg">
      <!--<img src="../../content/images/pots-716579_1920.svg" id="#pots-716579_1920" alt="">-->
      <h1 style="color: #006600; background-color: whitesmoke; text-align: center" :class="display-3">Plantalyzer</h1>
      <div class="text">
        <span style="color: #006600; font-size: larger"> <strong>Plantalyzer</strong></span>
        <span>
          <strong>
            is an IOT project that gives you updates about your houseplant' soil moisture,humidity and sunlight levels. This project has
            been achieved by group 15 in the course Projects and Project Methods at KTH university.
            <p>For more infomation about this course please click <a href="https://www.kth.se/student/kurser/kurs/II1302?l=en">here</a></p>
          </strong>
        </span>
      </div>
      <h2 style="text-align: center"><strong> Our Team</strong></h2>
      <div style="text-align: center">
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Viktoria Allamand Moraga</h2>
                <p class="title">Project manager</p>
                <p>katam@kth.se</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Porsev Aslan</h2>
                <p class="title">Development manager</p>
                <p>porsev@kth.se</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Astrid Lindh</h2>
                <p class="title">Requirements/customer manager</p>
                <p>astlindh@kth.se</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Edmund Okyere-Addae</h2>
                <p class="title">Test manager</p>
                <p>edmundoa@kth.se</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Nour Bashar</h2>
                <p class="title">Architect</p>
                <p>nbashar@kth.se</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="steps">
      <h2 style="text-align: center"><strong>How To Use Plantalyzer?!</strong></h2>
      <span class="text">
        <strong>
          <div>To use plantalyzer you will only need:</div>
          <div>1-valid email address.</div>
          <div>2-websurfer.</div>
        </strong>
        <div class="box arrow-right">
          <span>
            <strong> Step 1 </strong>
          </span>
          Create a new account in Plantalyzer
        </div>

        <div class="box arrow-right">
          <span>
            <strong> Step 2 </strong>
          </span>
          Log in with your account
        </div>

        <div class="box arrow-bottom">
          <span>
            <strong> Step 3 </strong>
          </span>
          Go to the sensor page
        </div>

        <div class="box arrow-final">
          <span>
            <strong> Step 6 </strong>
          </span>
          Now you are done with the process and you can finally see all the provided information that is observed by the sensors
        </div>

        <div class="box arrow-left">
          <span>
            <strong> Step 5 </strong>
          </span>
          Add a new sensor to each plant that you want to monitor
        </div>

        <div class="box arrow-left">
          <span>
            <strong> Step 4 </strong>
          </span>
          Press on add button to register your plant/s
        </div>
      </span>
    </div>
  </body>
</html>
