<html>
  <body>
    <div class="bg">
      <!--<img src="../../content/images/pots-716579_1920.svg" id="#pots-716579_1920" alt="">-->
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h1 :class="display-3" style="color: #006600; text-align: center; margin: 10px">Plantalyzer</h1>
      <div class="text">
        <span style="color: #006600; font-size: larger"> <strong>Plantalyzer</strong></span>
        <span>
          <strong>
            is an IoT and web development project to give users more information about the well being of their houseplants by providing
            details about soil moisture, humidity, sunlight and temperature. This project has been developed by group 15 in the course
            Projects and Project Methods at KTH university.
            <p>For more information about this course please click <a href="https://www.kth.se/student/kurser/kurs/II1302?l=en">here</a></p>
          </strong>
        </span>
      </div>
      <h2 style="text-align: center"><strong> Our Team</strong></h2>
      <div style="text-align: center">
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Viktoria Allamand Moraga</h2>
                <p class="title">Project manager</p>
                <p>katam@kth.se</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Porsev Aslan</h2>
                <p class="title">Development manager</p>
                <p>porsev@kth.se</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Astrid Lindh</h2>
                <p class="title">Requirements/customer manager</p>
                <p>astlindh@kth.se</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Edmund Okyere-Addae</h2>
                <p class="title">Test manager</p>
                <p>edmundoa@kth.se</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <div class="card">
              <div class="container">
                <h2>Nour Bashar</h2>
                <p class="title">Architect</p>
                <p>nbashar@kth.se</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
