body {
  background-image: url('../../content/images/pots-716579_1920.svg');
  background-repeat: no-repeat;
  background-color: #d8e8d8;
}
#bg {
  background-image: url('../../content/images/pots-716579_1920.svg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.column {
  float: contour;
  width: 40%;
  padding: 0 8px;
  background-position: center;
  position: center;
  margin: auto;
}

.card {
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: center;
  margin: 20px;
}

.container {
  contain-position: center;
  background-position: center;
}

.title {
  color: #003300;
}
.text {
  background-image: url('../../content/images/pots-716579_1920.svg');
  color: black;
  font-size: x-large;
  background-color: whitesmoke;
  position: center;
  margin: auto;
  background-blend-mode: soft-light;
}
.steps {
  background-image: url('../../content/images/pots-716579_1920.svg');
  background-color: whitesmoke;
  background-blend-mode: soft-light;
}

.box.arrow-right:after {
  content: ' ';
  position: absolute;
  right: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: none;
  border-left: 15px solid mediumseagreen;
  border-bottom: 15px solid transparent;
}
.box.arrow-bottom:after {
  content: ' ';
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px solid mediumseagreen;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
.box.arrow-final:after {
  content: ' ';
  position: absolute;
  right: 30px;
  bottom: -15px;
  border-top: 15px mediumseagreen;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: none;
}
.box {
  width: 350px;
  height: 200px;
  background-color: mediumseagreen;
  color: #fff;
  padding: 20px;
  position: relative;
  margin: 40px;
  float: left;
}
.box.arrow-left:after {
  content: ' ';
  position: absolute;
  left: -15px;
  top: 15px;
  border-top: 15px solid transparent;
  border-right: 15px solid mediumseagreen;
  border-left: none;
  border-bottom: 15px solid transparent;
}
