body {
  background-image: url('../../content/images/imgeBac2.svg');
  background-repeat: no-repeat;
  background-color: #d8e8d8;
}
#bg {
  background-image: url('../../content/images/imgeBac2.svg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.question {
  font-size: large;
  font-style: oblique;
}

img {
  width: 100%;
  height: 100%;
}
.steps {
  //background-image: url('../../content/images/pots-716579_1920.svg');
  //background-color: whitesmoke;
  background-blend-mode: soft-light;
  font-size: large;
  font-style: oblique;
  font-palette: dark;
}

.sections {
  font-style: inherit;
  font-size: large;
  color: brown;
}
