body {
  background-image: url('../../content/images/pots-716579_1920.svg');
  background-repeat: no-repeat;
  background-color: #d8e8d8;
}
#bg {
  background-image: url('../../content/images/pots-716579_1920.svg');
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.question {
  font-size: large;
  font-style: oblique;
}
#answer {
  color: #444444;
}
