<html>
  <body>
    <div class="bg">
      <!--<img src="../../content/images/pots-716579_1920.svg" id="#pots-716579_1920" alt="">-->
      <h1 :class="display-3" style="color: #006600">FAQ!</h1>
      <div></div>

      <div></div>
      <div class="text">
        <span>
          <strong>
            <ol type="1">
              <li>
                <dt>How to get started with Plantalyzer, what to do when you have just become a user?</dt>
                <dd>All you need is a valid e-mail address to could create an account in Plantalyzer</dd>
              </li>

              <li>
                <dt>how do you get a sensor?</dt>
                <dd>
                  we have not built a real sensor for Plantalyzer because we have no TIEDB students in the group, we will instead fake data
                  for the sensor.
                </dd>
              </li>
              <li>
                <dt>How will user information be stored?</dt>
                <dd>The user information will be saved in the database.</dd>
              </li>
              <li>
                <dt>Is there any customer support to Plantalyzer?</dt>
                <dd>unfortunately we do not provide this service</dd>
              </li>

              <li>
                <dt>Is it possible to change the limit values of the plant to get an alarm?</dt>
                <dd>No, this option can only made by admins</dd>
              </li>

              <li>
                <dt>How do the user get an alarm if a measured value is abnormal?</dt>
                <dd>The user will get a notice in the personal telling which plant you will need to care about</dd>
              </li>

              <li>
                <dt>How to get started with Plantalyzer, what I do when I have just become a user?</dt>
                <dd>
                  all you need to do after creating an account with us is to register your plants in the sensor page and put a sensor to
                  each plant
                </dd>
              </li>

              <li>
                <dt>Is it possible to run the sensor on your own server or are you dependent on the website?</dt>
                <dd>You are dependent on the website</dd>
              </li>
            </ol>
          </strong>
        </span>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
      </div>
    </div>
  </body>
</html>
