<html>
  <body>
    <div class="bg">
      <!--<img src="../../content/images/pots-716579_1920.svg" id="#pots-716579_1920" alt="">-->
      <h1 style="color: #006600; background-color: whitesmoke" :class="display-3">FAQ!</h1>
      <div></div>

      <div></div>
      <div class="text">
        <span>
          <strong>
            <ol type="1">
              <li>
                <button onclick="myFunc()">How to get started with Plantalyzer, what to do when you have just become a user?</button>
                <div id="answer">This is my DIV element.</div>
              </li>
              <li>Tea</li>
              <li>Milk</li>
            </ol>
          </strong>
        </span>
      </div>
    </div>
  </body>
</html>
