<div class="bg">
  <div class="row">
    <!--  <div class="form-group">-->

    <div class="col-md-12">
      <!--   <video> <source src="production ID_4891982.mp4" type="production ID_4891982.mp4" ></video>-->
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <h1 :class="display-3" style="color: #006600; text-align: center; margin: 10px">Welcome to Plantalyzer!</h1>

      <p :class="lead" style="color: #164516; text-align: center; margin: 40px">Let's learn more about your plants</p>

      <div [ngSwitch]="isAuthenticated()">
        <div *ngSwitchCase="true" class="alert alert-success">
          <span *ngIf="account" [translateValues]="{ username: account.login }" id="home-logged-message" jhiTranslate="home.logged.message"
            >Welcome, user "{{ account.login }}".</span
          >
        </div>

        <div id="borderLogin">
          <a (click)="login()" :class="alert-link" style="color: #003300"> LOG IN</a>

          <div *ngSwitchCase="false">
            <span>You don't have an account yet?</span>
            <a :class="alert-link" routerLink="account/register" style="color: #003300; text-align: left">Register a new account</a>
          </div>
          <p style="color: black; text-align: left; margin: 40px">
            Plantalyzer is a sensor, an IOT based application, which stores and presents data from a plant's environment. It's free to
            create an account but to be able to use the website's functions to their fullest extent you need to have a sensor installed
            beforehand. To view more information about how to install a sensor and what Plantalyzer is, go to the navigation bar and click
            on FAQ(Frequently Asked Questions) or About us.
          </p>

          <p style="color: brown; text-align: left; margin: 40px">
            This product has been developed by a group of students at KTH as an assignment in a course. Please note this webpage has been
            made for educational purposes only and that Plantalyzer won't be available to the general public as a product.
          </p>
        </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
    </div>
  </div>
</div>
