<div>
  <h2 :class="display-3" style="color: #006600; text-align: center; margin: 10px">
    <span>Annotations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="plantalyzerApp.annotation.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annotation"
        [routerLink]="['/annotation/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="plantalyzerApp.annotation.home.createLabel"> Create a new Annotation </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="annotations?.length === 0">
    <span jhiTranslate="plantalyzerApp.annotation.home.notFound">No annotations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="annotations && annotations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="plantalyzerApp.annotation.smiley">Smiley</span></th>
          <th scope="col"><span jhiTranslate="plantalyzerApp.annotation.textBox">Text Box</span></th>
          <th scope="col"><span jhiTranslate="plantalyzerApp.annotation.date">Date</span></th>
          <th scope="col"><span jhiTranslate="plantalyzerApp.annotation.sensor">Sensor</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let annotation of annotations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/annotation', annotation.id, 'view']">{{ annotation.id }}</a>
          </td>
          <td>{{ annotation.smiley }}</td>
          <td>{{ annotation.textBox }}</td>
          <td>{{ annotation.date | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="annotation.sensor">
              <a [routerLink]="['/sensor', annotation.sensor?.id, 'view']">{{ annotation.sensor?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/annotation', annotation.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/annotation', annotation.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(annotation)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
