<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-sensor-heading" data-cy="SensorCreateUpdateHeading" jhiTranslate="plantalyzerApp.sensor.home.createOrEditLabel">
        Create or edit a Sensor
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="plantalyzerApp.sensor.humidity" for="field_humidity">Humidity</label>
          <input type="text" class="form-control" name="humidity" id="field_humidity" data-cy="humidity" formControlName="humidity" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="plantalyzerApp.sensor.soilMoisture" for="field_soilMoisture">Soil Moisture</label>
          <input
            type="text"
            class="form-control"
            name="soilMoisture"
            id="field_soilMoisture"
            data-cy="soilMoisture"
            formControlName="soilMoisture"
            [readonly]="true"
          />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_light">UV-Scale</label>
          <input type="text" class="form-control" name="light" id="field_light" data-cy="light" formControlName="light" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_name">Name (sensor ID)</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="plantalyzerApp.sensor.user" for="field_user">User</label>
          <select class="form-control" id="field_user" data-cy="user" name="user" formControlName="user">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption"
              *ngFor="let userOption of usersSharedCollection; index as i; trackBy: trackUserById"
            >
             {{ userOption.login }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
